.doing {
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    margin-bottom: 50px;
    text-align: center;
  }
  .doing__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    img {
      display: block;
    }
    .doing__card.item {
      --items: 3;
    }
    .doing__item {
      flex-basis: calc((100% - 30 * (var(--items) - 1)) / var(--items));
    }

    .doing__card {
      position: relative;
    }
    .card__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--color-white);
      position: absolute;
      background: rgba(47, 48, 58, 0.8);
      padding: 27px 10px;

      bottom: 0;
      width: 100%;
    }
  }
}
